#logo {
    width: 100vw;
}

.section {
    border: 5px solid lightgray
}

.hone {
    color: rgb(29, 53, 133);
}

.sub {
    color: rgb(219, 69, 69);
}

.width100 {
    width: 100vw;
}

.width50 {
    width: 50%;
}

/* 29, 53, 133 */